* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-areas:
    "div1 div2"
    "div3 div4";
  min-width: 100vw;
  min-height: 100vh;
}

.div1 {
  grid-area: div1;
}

.div2 {
  grid-area: div2;
}

.div3 {
  grid-area: div3;
}

.div4 {
  grid-area: div4;
}

#videojs-delightful-player-player {
  height: 60vh;
  width: 60vw;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.div-url {
  top: 15%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

#video-examples {
  width: 130px;
  background: #fff;
  color: #a3a3a3;
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
  padding: 15px 15px;
}

.div-input-btn {
  display: inline-block;
}

#input-url {
  width: 360px;
  background: #fff;
  color: #a3a3a3;
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
  padding: 15px 15px;
}

#submit-btn {
  display: inline-block;
  color: inherit;
  font: inherit;
  border: 0;
  outline: 0;
  padding: 0;
  transition: all 200ms ease-in;
  cursor: pointer;
  background: #7f8ff4;
  color: #fff;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 10px 33px;
  margin-left: -96px;
}

#submit-btn:hover {
  background: #6c7ff2;
}

#submit-btn:active {
  background: #7f8ff4;
  box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.canvas {
  display: none;
}

@media screen and (max-width: 1300px) {
  #videojs-delightful-player-player {
    height: 50vh;
    width: 60vw;
  }
}

@media screen and (max-width: 900px) {
  #videojs-delightful-player-player {
    height: 45vh;
    width: 60vw;
  }
}

@media screen and (max-width: 600px) {
  #videojs-delightful-player-player {
    height: 40vh;
    width: 70vw;
  }

  .div-url {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #video-examples {
    margin-bottom: 7px;
  }
}

@media screen and (max-width: 400px) {
  #videojs-delightful-player-player {
    height: 40vh;
    width: 75vw;
  }

  #video-examples {
    width: 120px;
  }

  #input-url {
    width: 280px;
  }
}
